* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'OpenSauce';
    src: url('../assets/font/OpenSauceOne-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSauceRegular';
    src: url('../assets/font/OpenSauceOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSauceBold';
    src: url('../assets/font/OpenSauceOne-Bold.ttf') format('truetype');
}

@keyframes Surgir {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media all and (max-width: 600px) {
    .sidebar {
        left: -90vw;
        width: 40vw;
        align-items: center;
    }

    .sidebar ul {
        margin-top: 0;
    }

    .usuario {
        right: 0px;
        left: -200vw;
        margin-top: 13vh;
        opacity: 0;
        visibility: hidden;
    }

    .usuario ion-icon[name="cart"] {
        position: absolute;
        margin-left: -22vw;
        margin-top: 22vw;
    }

    .usuario.ativo {
        left: -50vw;
        opacity: 1;
        visibility: visible;
    }

    .config-conta {
        right: 0;
        left: 37vw;
    }

    #home {
        text-align: center;
    }

    .anuncio-sub {
        text-align: start;
        font-size: .8rem;
        margin: 10px 10px 0 10px;
    }

    #propaganda h1 {
        font-size: 1.2rem;
        margin: 10px 10px 0 10px;
        text-align: start;
    }

    #propaganda ion-icon {
        font-size: 3rem;
        margin-right: 32px;
    }

    footer {
        height: 80vh;
    }

    .infos {
        flex-direction: column;
        justify-content: center;
        margin-top: 5vh;
        margin-bottom: -100px;
    }

    .item-footer {
        margin: 10px;
    }

    .copy {
        margin-top: -10vh;
    }
}

@media all and (min-width: 601px) and (max-width: 1024px) {}



.animation-surgir {
    animation: 2.5s Surgir ease-in-out;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #fff;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    height: 15vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 1rem 'OpenSauce';
    user-select: none;
    transition: .5s;
    z-index: 10;
    animation: Surgir 0.9s ease-in-out;
}

header.scrolled {
    background-color: #050a30;
}

header ion-icon {
    font-size: 2.3rem;
    cursor: pointer;
}

.nav-menu {
    position: absolute;
    left: 30px;
}

.usuario {
    position: absolute;
    right: 40px;
    transition: .5s;
}

.usuario,
.usuario p,
#create,
#create button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.usuario p {
    margin: 5px;
}

#secaoAdd{
    color: black;
}

.seta-user {
    font-size: 1.3rem;
    margin: 2.2px 5px 0 5px;
    transform: rotate(90deg);
    transition: .5s;
}

.seta-user.selecionado {
    transform: rotate(-90deg);
}

ion-icon[name="person-circle"] {
    margin-left: 10px;
}

#user:hover+.config-conta,
.config-conta:hover,
.config-conta.selecionado {
    opacity: 1;
    visibility: visible;
}

.config-conta {
    position: fixed;
    right: 30px;
    top: 10vh;
    width: 140px;
    background-color: #fff;
    color: #000;
    border-radius: 18px;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
}

.config-conta p {
    cursor: pointer;
    padding: 10px 0 10px 0;
    width: 100%;
    transition: .2s;
}

.config-conta p:hover {
    background-color: #cae8ff;
}

.config-conta .borda {
    width: 100%;
}

header img {
    height: 12vh;
}

nav {
    left: -20vw;
    position: fixed;
    height: 100vh;
    width: 20vw;
    z-index: 9;
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: #050a30;
    overflow-x: hidden;
    transition: .5s;
}

nav ul {
    margin-top: 16vh;
    font-family: "OpenSauce";
    text-transform: uppercase;
    list-style: none;
    text-align: center;
}

nav ul li {
    font-size: 1.4rem;
    margin: 20px;
    cursor: pointer;
    transition: .3s;
    border-radius: 12px;
    border: none;
}

nav li:hover,
nav ul a li.selecionado {
    background-color: #06168f;
    padding: 10px;
}

nav.ativo {
    left: 0;
}

.borda {
    border-bottom: 2px solid #cae8ff;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 110vh;
    width: 100%;
    background-image: url("../assets/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: start;
    font-family: "Archivo Black";
}

#home h1 {
    font-size: 2.8rem;
    animation: Surgir 0.9s ease-in-out;
}

#home h3 {
    margin: 10px 0 30px 0;
    font-size: 1.3rem;
    animation: Surgir 0.9s ease-in-out;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: Surgir 0.9s ease-in-out;
}

a {
    text-decoration: none;
    color: #fff;
}

.buttons button {
    margin: 10px;
}

.raised {
    color: #fff;
    background: none;
    border: 3px solid #233dff;
    border-radius: 24px;
    font: 1.3rem "OpenSauceRegular";
    padding: 15px;
    cursor: pointer;
    transition: .8s;
    z-index: 1;
}

.raised:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 4px #233dff, inset 0px 0px 10px 2px #233dff;
}

.flat {
    color: #fff;
    background: #233dff;
    border: 3px solid #233dff;
    border-radius: 24px;
    font: 1.3rem "OpenSauceRegular";
    padding: 15px;
    cursor: pointer;
    transition: .8s;
    z-index: 1;
}

.flat:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 4px #233dff;
}

.propaganda {
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f4f6fc;
}

.anuncio {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30%;
}

.anuncio-title {
    font-family: "OpenSauce";
    color: #000;
    font-size: 1.6rem;
    margin: 5px;
}

.anuncio-sub {
    color: #737373;
    font-family: "OpenSauce";
}

.icons-anuncio {
    color: #06168f;
    border: 2px dashed;
    border-radius: 100%;
    font-size: 4rem;
    padding: 15px;
}

#camisas {
    color: #06168f;
    font-family: "OpenSauceBold";
    margin: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#camisas p {
    margin: 35px 0 85px 0;
    width: 40%;
}

#camisas h1 {
    letter-spacing: -2px;
    padding: 20px 35px 15px 35px;
    border-bottom: 3px solid #cae8ff;
}

.card {
    background-color: #f4f6fc;
    border-radius: 24px;
    width: 300px;
    margin: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    font-family: "OpenSauce";
    cursor: pointer;
}

.card:active {
    cursor: grabbing;
}

.card-img {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 16px;
}

.card-title {
    font-size: 1.5rem;
    margin: 5px 0 5px 0;
    color: #000;
}

.card-price {
    font-size: 1.5rem;
    margin: 5px 0 5px 0;
    color: #06168f;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

#create button {
    margin: 30px;
}

#create ion-icon {
    margin-left: 8px;
    font-size: 1.6rem;
}

#bandeiras {
    border-top: 5px solid #cae8ff;
}

#bandeiras h1,
#logos h1,
#bandeiras p,
#logos p {
    text-align: center;
    color: #06168f;
}

#bandeiras p,
#logos p {
    text-align: center;
    font-family: "OpenSauceBold";
    margin: 60px;
}

#bandeiras h1,
#logos h1 {
    margin: 30px;
    font-family: "OpenSauceBold";
    letter-spacing: -2px;
}

#logos {
    border-top: 5px solid #cae8ff;
}

footer {
    height: 40vh;
    width: 100vw;
    background-color: #050a30;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "OpenSauceRegular";
}

.infos {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
}

.item-footer {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.item-footer p {
    margin-top: 8px;
}

.copy {
    text-align: center;
    width: 80%;
    padding: 10px;
    border-top: 2px solid #cae8ff;
}